@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --color-white: hsl(0, 0%, 100%);
    --color-lightgray: hsl(212, 45%, 89%);
    --color-grayishblue: hsl(220, 15%, 55%);
    --color-darkblue: hsl(218, 44%, 22%);
}
body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-lightgray);
    text-align: center;
    zoom: 0.6;
}
div:first-child, 
div img {
    border-radius: 20px;
}
div:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 580px;
    background-color: var(--color-white);
    padding: 20px;
}
div h1 {
    color: var(--color-darkblue);
    font-size: 3rem;
}
div p {
    color: var(--color-grayishblue);
    font-size: 2.1rem;
}
div:last-child {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);

    font-size: 1rem;
}